.zaznacznik
{
	position: absolute;
	box-sizing: border-box;
	width: 14%;
	height: 14%;
	margin-top: -7%;
	margin-left: -7%;
	clip-path: polygon(50% 15%, 100% 0%, 85% 50%, 100% 100%, 50% 85%, 0% 100%, 15% 50%, 0% 0%);
	border: solid 0.4vh white;
	opacity: 0;
}
.zaznacznik:hover
{
	opacity: 0.9;
}
@media screen and (max-width: 139.99vh)
{
	.ekran
	{
		position: relative;
		left: 50%;
		width: 44vh;
		height: 44vh;
		margin-bottom: 3vh;
	}
	.ekran-canvas
	{
		position: absolute;
		top: 0.5vh;
		left: 0.5vh;
		width: 43vh;
		height: 43vh;
	}
	.divDotyk
	{
		position: absolute;
		top: 0.5vh;
		left: 0.5vh;
		width: 43vh;
		height: 43vh;
	}
	#ekran-mapa
	{
		margin-left: -22vh;
	}
	#ekran-uklad
	{
		margin-left: -22vh;
	}
}
@media screen and (min-width: 140vh)
{
	.ekran
	{
		position: absolute;
		top: 7vh;
		left: 50%;
		width: 62vh;
		height: 62vh;
	}
	.ekran-canvas
	{
		position: absolute;
		top: 0.5vh;
		left: 0.5vh;
		width: 61vh;
		height: 61vh;
	}
	.divDotyk
	{
		position: absolute;
		top: 0.5vh;
		left: 0.5vh;
		width: 61vh;
		height: 61vh;
	}
	#ekran-mapa
	{
		margin-left: -63vh
	}
	#ekran-uklad
	{
		margin-left: 1vh
	}
}
